*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar{
    /* background-color:rgb(73, 146, 255); */
    background-color:#f88f4d;
    color:white;
}
#mapid{
    height: 180px;
    width:100%;
}
.map {
     height: 180px;
     width:100%; 
    }
#App{
    height: auto;
}
.form-group{
    height:100px;
}
.title-header{
    font-size:35px;
    font-weight: 700;
    text-align:center;
}
/* weather cards */
body {
    /* min-height: 100vh; */
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* background-color: rgba(238, 237, 237, 0.33); */
    background-color: #8f4df8;
    color: rgb(105, 104, 104);
    /* font-family: sans-serif */
    font-family: 'Roboto', sans-serif;
}

/* body
{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background: #d22222;;
} */

div.widget
{
  position: relative;
  width: 50%;
  height: auto;
  margin: 20px auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}
div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  font-size: 81px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}

div.panel
{
  display: inline-block;
}

div.right-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10px;
}

/* end */

.weather-container {
    /* margin-top:50px; */
    height: auto;
    width:100%;
    background-color: transparent;
    border-color: #ffffff;
    align-items: center;
    border-radius: 1rem;
    vertical-align: middle
}

@media(max-width:767px) {
    .container {
        height: fit-content
    }
}

.weather {
    width: 77%;
    height:auto;
    margin:20px auto;
}

@media(max-width:767px) {
    .weather {
        width: 100%
    }
}

.card {
    padding: 1rem;
    margin: 1.5rem 4vw;
    border-radius: 1rem;
    /* background-color: rgba(107, 153, 240, 0.22); */
    background-color: #fad088;

    border-color: rgba(238, 237, 237, 0.22);
    box-shadow: 5px 6px 6px 2px #e9ecef;
    text-align: center;
    color:#50432c;
}

@media(max-width:768px) {
    .card {
        margin: 1.5rem
    }
}

.title {
    justify-content: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.title p {
    margin-bottom: 0.2rem;
    font-size: 1.2rem
}

.temp {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.value{
    font-size:20px;
    font-weight: 400;

}

.header {
    color: #50432c;
    /* color:white; */
}

.col-4 {
    padding: 0 0.2rem;
}

.icon {
    align-self: flex-end;
    margin-right: -2.5rem;
    margin-top: -2rem;
    z-index: 999;
}

.icon img {
    width: 5rem;
}
/* end */


.main-search-input {
    background: #fff;
    /* padding: 0 120px 0 0; */
    border-radius: 1px;
    /* margin-top: 200px; */
    box-shadow: 0px 0px 0px 6px rgba(56, 34, 34, 0.3);
    margin-bottom:50px;
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative
}

.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative
}

.main-search-input-item input:first-child {
    border-radius: 100%
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px
}

.main-search-button {
    background: #4DB7FE
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 50px auto;
    position: relative
}

:focus {
    outline: 0
}

@media only screen and (max-width: 375) {
    .main-search-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
    }

    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px
    }

    .main-search-input-item input {
        border-radius: 6px !important;
        background: #fff
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px
    }
    div.widget{
        margin:35px 0;
    }
}